<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/dashboard">
      <i class="fa-solid fa-robot me-2"></i>ASB Bot
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
            <i class="fa-solid fa-gauge me-1"></i>Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/conversas" routerLinkActive="active">
            <i class="fa-solid fa-comments me-1"></i>Conversas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/templates" routerLinkActive="active">
            <i class="fa-solid fa-file-lines me-1"></i>Templates
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
